[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "*"
flask = "*"
psycopg2-binary = "*"
requests = "*"
sshtunnel = "*"
tabulate = "*"

[dev-packages]

[requires]
python_version = "3.8"
